.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* background-color: rgb(243, 239, 235); */
    background-color: aliceblue;
}

.body-container {
    width: 90%;
    margin: auto;
    /* margin: 50px; */

}

.summary {
    position: sticky;
    top: 0;

}



@media screen and (max-width: 990px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .body-container {
        margin-left: 70px;
    }

    .summary {
        margin-top: 100px;
    }
}


@media screen and (max-width: 660px) {
    .main-container {
        grid-template-columns: 1fr;
    }

    .body-container {
        margin-left: 100px;
    }

    .summary {
        margin-top: 100px;
    }

}